@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header {
  display: flex;

  justify-content: space-between;
  padding: 16px;
  color: #585858;

}

.content {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer {
  background-color: #eee;
  display: flex;

  justify-content: space-between;
  padding: 16px;
  color: #585858;
}

.left-links {
  justify-content: flex-end;
  margin-left: 8px;
}

.right-links {
  justify-content: flex-start;
  margin-right: 8px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 12px;
  margin: 0px;
  padding: 0px;
}

a {
  color: inherit;
  text-decoration: inherit;
}